<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>招生系统</title>
    <link rel="stylesheet" type="text/css" href="../static/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="../static/themes/icon.css">
    <link rel="stylesheet" type="text/css" href="../static/themes/color.css">
    <link rel="stylesheet" type="text/css" href="../static/themes/demo.css">
    <script type="text/javascript" src="../static/js/jquery.min.js"></script>
    <script type="text/javascript" src="../static/js/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="../static/js/easyui-lang-zh_CN.js"></script>
    <script type="text/javascript" src="../static/myjs/common.js"></script>
    <style type="text/css">
        a{
            text-decoration: none;
        }
    </style>
</head>
<body style="background: #f8f8f8;">
<div id="cc" class="easyui-layout" style="width:1000px;height:900px;margin: 0 auto;" >

     <div  data-options="region:'north'" style="position:relative;height:230px;width:80%;background :url(../static/imge/slide1.jpg);" >
         <div align="right">
             <a  href="#" onclick="showDialog()" class="easyui-linkbutton" data-options="iconCls:'icon-man',plain:true">
                 <u ><div id="userName">登录</div></u>
             </a> |
             <a id="btn" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-lock',plain:true"><u>管理</u></a>
         </div>
         <div id='sdiv' style="float: right;position:absolute;right: 0;bottom: 10px;">
             <input  style="width:200px" id="ss"/>
         </div>
         <div  id="mm" style="width:120px">
            <div data-options="name:'title'">标题</div>
            <div data-options="name:'ctime'" >日期</div>
            <div data-options="name:'category_id'">栏目</div>
        </div>
  </div>
    <div id="p" data-options="region:'west'" style="height:550px;width:20%;" title="栏目导航">
      <ul id='dl' class="easyui-datalist"  style="width:100%;height:230px;font-size:50px;" >

         {% for item in categoryList %}
              <tr>{% include 'li.html' %}</tr>
          {% endfor %}

      </ul>
      <div id="cc" class="easyui-calendar"  style="width:196px;height:247px;margin-top: 0px"></div>
  </div>
  <div  id='center' data-options="region:'center'" title="信息" style="height:340px;width:20%;background: #f8f8f8;">
      {% include 'itemDtail.html' %}
      <div id="list" >
          <table id="dg" style=""></table>
          <div id="pp" ></div>
      </div>
  </div>

  <div data-options="region:'south'" style="height:140px;width: 190px;background :url(../static/imge/foot.jpg);"></div>
  <div id="dialog">
      <form id="login" method="post" >
        <table>
             <tr>
                 <td><label>用户名：</label></td>
                 <td><input  class="easyui-validatebox" data-options="required:true" type="text" name="name" /></td>
             </tr>
             <tr>
                <td><label>密码：</label></td>
                <td><input class="easyui-validatebox" data-options="required:true" type="text" name="pwd" /></td>
            </tr>
        </table>
    </form>
  </div>

</div>





 <script>
      $(document).ready(function(){
          //默认每页条数
          PAGESIZE=10;
          $('#mm').menu({
            onClick:function(item){
                if(item.name=='ctime'){
                   $('#sdiv input')[1].setAttribute('placeholder','2019-02-24');
                }else{
                   $('#sdiv input')[1].setAttribute('placeholder','请输入值');
                }
            }
          });
         //搜索框
           $('#ss').searchbox({
            searcher:function(value,name){
                var searchContent=value;
                if(name=='category_id'){
                   value=getMapKey(categoryMap,value);
                   if(value==''){
                       $.messager.alert('提醒','没有此类型文章！');
                   }
                }
                var m={};
                m[name]=value;
               toCategory('',1,PAGESIZE,'搜索"'+searchContent+'"',m);
            },
            menu:'#mm',
            prompt:'请输入值'
        });

        //首次进入网页加载默认列表
        var cid=$('#p a ')[0].id;
        var cname=$('#p #type_name')[0].innerHTML;
        toCategory(cid,1,PAGESIZE,cname,null);
      });
      //加载文章列表
     function toCategory(id,curPage,pageSize,typename,param) {
         $('.panel-title')[1].innerHTML='招生工作'+'>>'+typename;
         $('#list').show();
         $('#theTemplate').hide();
         if(id==''){
             url="../getItem?curPage="+curPage+"&pageSize="+pageSize;
         }else{
             url="../categroydetail?curPage="+curPage+"&pageSize="+pageSize+"&cid="+id;
         }
         $.ajax({
             url:url,
             type:'GET',
             data:param,
             dataType:'json',
             success: function(ret){
                 //console.log(ret);
                 var totalSize=ret.totalSize ;
                 var curPage=ret.curPage;
                 var data=eval(ret.data);
                 //console.log(data);
                 //var str='';
                 $('#dg').datagrid({
                     data: data,
                     columns:[[
                        {field:'id',title:'id',hidden:true},
                        {field:'title',title:'title',width:630,
                            formatter: function(value,row,index){
                                return '<li><a href="#" id='+row.id+' name='+typename+' onclick=toDetail(id,name)>'+value+'</a></li>';
                            }
                        },
                        {field:'ctime',title:'ctime'}]],
                    striped:true,
                    showHeader:false,

                });
                 //去掉边框
                 var tr=$('.datagrid-body').find('tr');
                 tr.each(function () {
                     var td=$(this).children('td');
                     td.css({
                        "border-width":"0"
                     });
                 });
                 //分页
                 $('#pp').pagination({
                     total:totalSize,
                     pageSize:pageSize,
                     pageNumber:curPage,
                     pageList: [pageSize],
                     onSelectPage:function(pageNumber, pageSize) {
                          toCategory(id,pageNumber,pageSize,typename,null);
                      }
                 });
             }
         });
     }
     //进入item详情
     function toDetail(id,typename){
         console.log(id+'-'+typename)
         $('.panel-title')[1].innerHTML='招生工作'+'>>'+typename+'>>详情';
         $.ajax({
             url:"../getItemById",
             type:'POST',
             data:{'id':id},
             dataType:'json',
             success: function(ret){
                 $('#list').hide();
                 $('#title').html(ret.title);
                 $('#ctime').html('['+ret.ctime+']');
                 $('#content').html('&nbsp&nbsp&nbsp&nbsp'+ret.content);
                 $('#theTemplate').show();
             }
         });
     }
     function showDialog() {
         $('#dialog').dialog({
        title: '登录',
        width: 270,
        height: 150,
        closed: false,
        cache: false,
        modal: true,
        buttons:[{
				text:'登录',
				handler:function(){
                    login();
                }
			},{
				text:'取消',
				handler:function(){
				    $('#dialog').dialog('close');
                }
			}]

    });
    }
    function login() {
         //$('#login').form('submit',{
        $.ajax({
             async : false,
            type:'post',
             url:'../login',
             data:$('#login').serialize(),
            success:function(data){
                data=JSON.parse(data);
                 $.messager.alert('提示',data.msg);
                if(data.status=='OK'){
                    //console.log(document.cookie,'bbb');
                    $('#userName').html(data.data);
                    $('#dialog').dialog('close');

                }
            }
        });
    }
    $('#btn').click(function () {

        var usr=$('#userName').html();
        if(usr=='登录'){
            $.messager.alert('提示','请先登录,谢谢~');
        }else{
           $.ajax({
               url:'../getUserbyName',
               type:'post',
               data:{'name':usr},
               dataType:'json',
               success: function(ret){
                   if(ret.status=='OK'){
                       //window.open('../gotoManagerPage/');
                       window.location.href='../gotoManagerPage/';
                   }else{
                       $.messager.alert('提示','请使用管理员权限登录！');
                   }
               }
           });

        }
    });
  </script>
</body>
</html>